$cherry                                       : #DB4559;
$blue                                         : #46B4DB;
$blue-gray                                    : #7699A6;
$subtle-blue-gray                             : #456980;
$minimizedWidth                               : 20px;
$minimizedWidthBorder                         : 4.5px;
$indent                                       : 14px;


.sequence-wrapper     { min-width:630px; -webkit-font-smoothing: antialiased; font-weight: $bold; font-size: 14px;

  &.empty              { display:none; }

  @import 'sequence-error';

  // ------------------------------------ SEQUENCES

  // BASE SEQUENCE
  .sequences          { max-width: 996px; margin: 0 auto;
    .sequence         { margin: 0 auto; padding: 0; position:relative;
      .content        { opacity:1; height:0; @include transition(all, 0.6s, $easeInOut ); overflow: hidden; width: 100%;
        &.open        { height:27px; }
        &.hidden      { opacity: 0;}
      }
      .title          { padding:0 0 5px 0; display: flex;
        .main         { font-size:14px; color:$blue;}
        .meta-message { color:$blue-gray; }
        .message      { color:$blue-gray; margin-left:4px;
          &:before    { content: " : "}
        }
        .state        { display:none; }
      }
      .children       { padding-left:15px;  }
      .progress       { background:#1098CB; height:2px; width:20px; }
      &.complete      {
        .main,
        .message,
        .meta-message { color: #55EDC4 !important; @include transition(color, 0.3s); }
        .progress     { background:#55EDC4; }

      }

      // ROOT SEQUENCE
      &.root          { color: red; padding:10px 0;
        > .content    {
        > .title      { border-bottom:1px solid #135575;
            .main     { color:#DFDFDF; }
            .message  { }
            .state    { margin-left:auto; color:$blue; text-transform: capitalize; display: initial; }
          }
          > .progress { display:none; }
        }
        > .children   { padding-left: 0; margin-top: 3px;  }
      }

      // COMPONENT SEQUENCE
      &.component     { position: relative; overflow: visible;
        > .children   { padding-left: 0; }
        &:before      { content:"•"; color:$subtle-blue-gray; position: absolute; left: -10px;  }
      }

      // INSTANCE SEQUENCE
      &.instance      { display:flex;
        &:before      { width:10px; content:""; display:block; border: solid 2px #2F4E62; border-right: none; border-top:none; align-self:stretch; margin:-14px 7px 16px -7px; }
        > .content    {
          .title      {
          .main,
          .message    { color:$blue-gray; }
        }
      }
      }

      // Errored State
      &.errored,
      &.internal-error {
        &:before       { content:"!"; color:#DB4559; position:absolute; left:-10px; opacity:1; @include transition(all, 0.3s); }
        > .content     {
          .title       {
            .main,
            .message   { color:#DB4559; }
          }
          .progress    { background: #DB4559 !important; min-width:5%; }
        }
      }

      &.internal-error {
        &:before       { position:initial; content:"" }
        > .content .title:after        { content: "  -  Internal Error"; color:white; margin-left:10px; }
      }
    }
  }

  // ------------------------------------ CLOSE BUTTON
  .trans-close-btns           { display:flex; align-items:center;  cursor:pointer; color: #7A7A7A; font-size: 12px; top:6px; @include transition(all, 0.55s, $easeInOut);
    .btn{ margin-left:8px;
      &.close                 { transform: scaleY(-1); margin-top:-10px;}
      &.hide                  { display:none;}
      &.open                  { display:none;}
      &:hover svg *           { stroke:white;}
    }
  }

  // ------------------------------------ Fixed State
  &.fixed                     { background:rgba(#10202E, 0.93); position: fixed; width: 100%; padding:0; top:0; left: 0; z-index: 1000;
    .sequence.aborted
    .right                    { color:#ED5F80; }
    .trans-close-btns         { padding:10px; position: absolute; right:6px; }
    .sequence                 {
      &:last-child            { }
      .right                  {  padding-left: 3px; color:$blue-gray;
        .task                 {
          &.errored           { color:#2F5C72;
            .error-msg        { color:#16A9CE; }
            .progress         { background:#2F5C72; @include transition(width); }
          }
        }
      }
      &.component             {
        &:before              { display: none; }
      }
      // &:not(:last-child)      { margin-bottom: 16px;}
    }
  }

  // Minimized
  &.minimized          { padding:0px 0 4px;
    // Compressed
    .sequence          { padding:0 0 0px 0 !important; @include transition(all, 0.35s, $easeInOut);
      .children        { padding-left:0px; margin-top:0 !important; @include transition(all, 0.35s, $easeInOut); }
      .error           {
      .sequence-error  { height:0px; margin-bottom:0; @include transition(all, 0.35s, $easeInOut); }
        // .progress     { background:red !important; }
      }
      .content         { height:3px !important; display: block; @include transition(all, 0.35s, $easeInOut);
        .title         { opacity:0; height:0px; @include transition(height, 1s, $easeInOut); border:none; margin:0; padding:0  }
        .progress      { background:#186DA3; }
      }
      &.complete       {
        .progress      { background:#55EDC4 !important; }
      }
      &.errored:before { opacity:0; }
    }
    .component:before  { display:none !important; }
    // Open / Close Button
    .trans-close-btns  { top: -8px; @include transition(all, 0.35s, $easeInOut);
      .btn             {
        &.hide            { display:block; }
        &.open            { display:block; }
        &.close           { display:none; }
      }
    }
  }

  // Abbreviated
  &.abbreviated        { min-height:27px;
    .abbr              { position:absolute; color:$blue-gray; padding:5px 15px 5px 5px; display:flex; align-items: baseline; right:0; margin-top:-1px;
      *                { vertical-align: initial !important; }
      .count           { margin-right:7px; background:#55EDC4; color:#1D2D3A; width:18px; height:18px; border-radius:50%; text-align:center; line-height: 19px; }
      .spinner         { left:2px; top:2px;  animation:pulse 5s linear infinite; position:absolute; transform-origin: 49% 42%; vertical-align: initial;}
      @keyframes pulse {
        0%             { transform: rotate(-360deg); }
      }
      span             { color:#55EDC4; }
      a                { font-style:italic; font-size:12px; text-decoration:none; color:white; margin-left:6px;
        &:hover        { margin-bottom:-1px; border-bottom:solid 1px #5A748C}
      }
    }
    .trans-close-btns  { display:none; }
    .sequences         {
      .sequence        { padding:0;
        .errored       { display:none; }
        .error         { display:none; }
        .children      { margin:0; padding-left:0;}
        .progress      { display: none; }
        .content       {
          &.open       { height:0; max-width:0; }
        }
        &.complete     { padding:5px 0 2px;
          .content     { font-size:12px; height:15px; max-width:1000px; }
          .title       {
            &:before   { content:"Task Finished : "; color:white; margin-right:10px;  }
            *          { font-size:12px;  }
          }
        }
      }
    }
    &.has-errors       {
      .abbr            {
        &:before       { content:"! Check Errors"; position: absolute; left:-98px; font-size:11px; text-transform:uppercase; top:10px; color:$cherry;}
        .count         { background: $cherry; }
      }
    }
  }

  // ULTRA ABREVIATED
  &.hidden             { width:30px; height:30px; min-width: initial; right:10px; top:10px; left:initial; border-radius: 50%; padding:0 !important;
    .sequences         { display:none; }
    .trans-close-btns  { margin-top:10px; margin-right:-8px;
      .btn.hide        { display:none; }
    }
  }
  @media (max-width: 996px) {padding-right:40px !important;}
}
