$dark-blue : #06202f;
$yellow: #FFEFA3;
.sequence-error      { width:100%; height:106px; margin-bottom:10px; position:relative; color:$blue; background:$dark-blue; @include transition(all, 400ms, $easeInOut );  overflow: hidden;
  &.faded            { opacity:0;  }
  &.hidden           { opacity:0; height:0; margin-bottom:0; }
  .info              { display:flex; align-items:flex-end;  box-sizing: border-box; padding:20px; height:106px;
    .error-code      { margin-bottom:-11px; font-family:oregon; font-weight: initial;
      .txt           { color:$cherry; text-transform: uppercase; font-size:18px; }
      .code          { font-size: 60px; margin-top:-10px; }
    }
    .error-content   { margin-left: 20px; padding:10px 0 0 20px; border-left:1px solid rgba($blue, 0.2);
      .label         { color:#4A7894; }
      .txt           { }
      a              { display:flex;
        &:hover      { color: #FFEFA3;
          svg *      { stroke:white; }
        }
        svg          { margin: 4px 0 0 5px;
          *          { stroke: $yellow; stroke-width:2px;  }
        }
      }
    }
    .action-btns       {margin-left:auto; display: flex;
      .retry-btn,
      .skip-btn        { background: $blue; color: $dark-blue; padding:5px 18px; border-radius: 3px; cursor: pointer; margin-left:10px;
        &:hover        { background: white;  }
      }
    }
  }
  a                  { color:$blue; text-decoration:none;
    &:hover          { color:white; }
  }

  .stack-trace-btn   { display:flex; align-items: center; position:absolute; top: 10px; right: 20px; cursor:pointer;
    .txt             { margin-left:8px;
      &:after        { content: "Show Details" }
    }
    &:hover          { color:white; }
  }

  .stack-trace       { display:none; }
  // Full Screen
  &.full-screen      { transition-property: opacity, margin-bottom; position:fixed; top:0; width:100%; left:0; height:100%; z-index: 1000; overflow-y: scroll;
    .info            { position:fixed; top:0; background: rgba($dark-blue, 0.8); width:100%; }
    .stack-trace-btn {
      .txt:after     { content: "Hide Details"}
    }
    .output          { margin-top:106px; @include selectable(text); @include selection-color(#27708E, #81CAE8); padding:0 20px;
      .message       { font-size: 13px;  font-family: "Monaco", monospace, sans; color:#06202f; display: inline-block; background: #db4559; padding:5px 7px; margin:10px 0 20px}
      pre            { color:#db4559; display:block;  overflow:scroll; font-family: $monaco; font-size:12px;
        &:before     { font-family: $proxima;  display:block; color: $blue; font-size:14px; margin-bottom:4px; }
        &.stack-trace{
          &:before   { content:"Full Stack Trace:";}
        }
        &.meta       { margin-bottom:20px; color:#949494; font-style: italic;
          &:before   { content:"Meta Information:";  font-style: normal}
        }
      }
    }
  }
}
