.sequence-wrapper.fixed.empty
  .sequences
  .trans-close-btns
    .btn.hide
      img.shadow-icon(data-src="sequence-close")
    .btn.open
      img.shadow-icon(data-src="sequence-open")
    .btn.close
      img.shadow-icon(data-src="sequence-open")
