.sequence(title="#{hoverToolTip}", class="#{viewClass}")
  .content
    .title 
      .main= title
      div(class=title == null ? "main" : "message")= message
      .meta-message
      .state
      .cancel
    .progress
  .error
  .children 
