.sequence-error
  .error-code
    .txt Error
    .code 1002
  .content.summary
    .label Summary:
    .txt Unable to communicate with AWS Servers
  .content.guide
    .label Guide: 
    .txt
      a(href="#") Understanding and Resolving a 1002 Error
  .retry-btn Retry
  .stack-trace 
    img.shadow-icon(data-src="stack-trace")
    .txt Show Full Stack Trace
