doctype html
html(lang="en")
  
  head
    title Sequence Viewer

    // build:remove 
    link(href="stage/css/stage.css", rel="stylesheet")
    link(href="css/shared-svg.css", rel="stylesheet")
    // endbuild
    
    // build:css style.css
    link(href="css/main.css", rel="stylesheet")
    // endbuild

  body
    .stage-ui
      .txt Simulate Stormpack Update:
      select
        option(value="t1") Initial Data
        option(value="t1Error1") Error 1
        option(value="t1b") Variation 1
        option(value="t1Error2") Error 2
        option(value="t1Partial") Variation 2
    // build:remove 
    script(src="bower-libs/PubSubJS/src/pubsub.js")
    script(src="bower-libs/jquery/dist/jquery.js")
    script(src="bower-libs/jade/runtime.js")
    script(src="bower-libs/jquery-easing/jquery.easing.js")
    script(src="bower-libs/shadow-icons/rel/app.js")
    script(src="https://use.typekit.net/cqd5kth.js")
    script(src="js/shared-svg.js")
    script(src="bower-libs/velocity/velocity.js")
    // endbuild
    
    script(type="text/javascript") try{Typekit.load({ async: true });}catch(e){}


    // build:js app.js
    script(src="js/main.js")
    // endbuild
    
    // build:remove 
    script(src="stage/js/stage.js")
    // endbuild
    
    
    
    // build:remove 
    script(src="http://localhost:35729/livereload.js")
    // endbuild
