body{ margin:0; padding:0; background:#DFDFDF;  }
.stage-ui{ align-items:center; position:fixed; bottom:20px; right:20px; display:flex; font-size:12px; font-style:italic;
  .txt{ margin-right:15px; }
}
