@import '../lib/assets/core-styles/styles.scss';

body{ margin:0; padding:0; background:#E9EDF0;  }
.stage-ui{ align-items:center; position:fixed; bottom:20px; right:20px; display:flex; font-size:12px; font-style:italic;
  .txt{ margin-right:15px; }
}
